.object-search__input {
	border: 2px solid $color-black;
	border-radius: 50px;
	box-sizing: border-box;
	color: $color-black;
	flex-basis: 100%;
	min-width: 0;
	padding: $spacing-micro;
	text-overflow: ellipsis;
	&:focus {
		box-shadow: 0px 0px 10px $color-grey-500;
	}
}
