@import "~@metmuseum/marble/src/base/base";
@import "~@metmuseum/marble/src/global/accessibility.scss";
@import "./fonts/font-declarations.scss";
@import "./components/result-object/result-object";
@import "./components/search-bar/search-bar";
@import "./components/pagination-controls/pagination-controls";

$bp-small-screen: 800px;

* {
	box-sizing: border-box;
}

body {
	@include typography-body-long();
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	&:visited,
	&:hover {
		color: inherit;
	}
}

h1, h2, h3, h4 {
	margin: 0 0 0.5em;
}

h1 {
	@include typography-h1-expressive();
	font-size: $textsize-xl;
	margin-bottom: 0.5em;
}

.button {
	@include button-base();
	height: 40px;
	line-height: 0;
	min-width: 100px;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 $spacing-xxs;
}

.button--primary{
	@include primary-button();
	@include primary-button--filled();
}

.button--ghost {
	@include primary-button();
	@include primary-button--ghost-dark();
}

.button--secondary {
	@include secondary-button();
	@include secondary-button--ghost-dark();
}

.button--tertiary {
	@include tertiary-button();
	align-self: center;
}

.collection-search {
	margin: $spacing-xs $spacing-component-margin;
	max-width: 100%;
}

.cs__section-title {
	font-size: $textsize-s;
	font-weight: 600;
}

.cs__search {
	display: flex;
	margin-bottom: $spacing-xxs;
	grid-column-gap: $spacing-xxs;
	grid-row-gap: $spacing-xxs;
}

.cs-select__wrapper {
	border: 2px solid $color-black;
	border-radius: 50px;
	padding-right: $spacing-micro;
	&:focus-within {
		border-color: $color-focus-state;
		background-color: $color-focus-background;
	}
}

.cs-select {
	-webkit-appearance:none;
	background: transparent;
	border: 0;
	cursor: pointer;
	color: $color-black;
	font-weight: 600;
	height: 100%;
	width: 100%;
	padding: $spacing-micro;
	&:focus {
		outline:0;
	}
}

.cs__total-results {
	font-weight: 600;
}

.cs__sort-results {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: $spacing-xxs;
	grid-column-gap: $spacing-micro;
	grid-row-gap: $spacing-micro;
}
.cs__sort-control {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	grid-column-gap: $spacing-micro;
}

.cs__results {
	display: grid;
	grid-template-columns: 1;
	grid-column-gap: $spacing-xxs;
	grid-row-gap: $spacing-xxs;
	flex-wrap: wrap;
	max-width: 100%;
	min-height: 50vh;
	margin-bottom: $spacing-m;
	@media (min-width: 500px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (min-width: 700px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (min-width: 1000px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.cs__no-results {
	font-size: $textsize-m;
	font-weight: 600;
	text-align: center;
	padding: $spacing-m;
}

.cs__facet-wrapper {
	display: flex;
	grid-column-gap: $spacing-xxs;
	grid-row-gap: $spacing-xxs;
	flex-wrap: wrap;
	margin-bottom: $spacing-xxs;
}

.cs__facet-container {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	@media (min-width: $bp-small-screen) {
		flex-basis: 40%;
	}
}

.cs__facet {
	font-size: $textsize-xxs;
}

.cs__show-only {
	border-bottom: 1px solid $color-grey-600;
	margin-bottom: $spacing-xxs;
	padding-bottom: $spacing-xxs;
}

.cs__show-wrapper {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: $spacing-xxs;
	grid-row-gap: $spacing-micro;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cs__show-option {
	cursor: pointer;
	white-space: nowrap;
}

.hidden-input {
	display: none;
}

.cs__rpp {
	align-items: center;
	display: flex;
	font-weight: 600;
	font-size: $textsize-s;
	justify-content: center;
	text-align: center;
	grid-column-gap: $spacing-micro;
}

.rpp__option {
	@include button-reset();
	padding: $spacing-micro;
	font-weight: 400;
	font-size: $textsize-xs;
	&[disabled] {
		opacity: 0.5;
	}
	&:focus {
		outline-color: $color-focus-state;
		background-color: $color-focus-background;
	}
}
